<h2>Welcome!</h2>

<% if user_signed_in? && (current_user.owner == true) %>
  <%= link_to "Restaurants List", user_rests_path(current_user) %>       
<% elsif user_signed_in? %>
	<%= render "category" %>
<% else %>
	<%= link_to "Sign Up", new_user_registration_path %>
  <%= link_to('Sign In', new_user_session_path)  %>  
<% end %>

