<p id="notice"><%= notice %></p>

<h1>Listing Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @rests.name %></td>
        <td><%= @rests.address %></td>
        <td><%= @rests.category %></td>
      </tr>
  </tbody>
</table>